@use "../components/profile";
@use "../components/link";
@use "../components/input-container";
@use "../components/input";
@use "../components/button";

@use "../utils/variables" as *;

.header {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: $border-divider;

  &__control-container {
    display: flex;
    align-items: center;
  }

  &__input {
    margin-right: 16px;
    width: 296px;
    height: 32px;
  }

  &__profile {
    margin-right: 8px;
  }
}