$font-family: "Roboto", sans-serif;
$color-text: #2E3238;
$color-text-light: #ABB1BA;
$color-blue-light: #99D5FF;
$color-blue: #0078CF;
$color-border: #D5D8DD;
$border-divider: 1px solid $color-border;